body{
    background-color: grey;
    color:black;
    margin: auto;
    margin-top: 20px;
    width:40%;
    font-family: 'Indie Flower', cursive;
}
h1,h2{
    font-family: 'Liu Jian Mao Cao', cursive;

}
.container{
    padding-top: 10px;
    margin: auto;
    background-color: white;
    height: 600px;
}
#done label{

    text-decoration: line-through;
    color:rgba(26, 20, 20, 0.525);

}
#done input{
    margin-left: 3%;
}
h1,h2{
    text-align: center;
}

form{
    padding-left: 35%;
}
ul{
    list-style-type: none;
}
#search{
    margin-left: 35%;
    margin-top: 2%;
}
#save{
    margin-left: 8%;
}
textarea{
    margin-top: 5%;
    font-family: 'Indie Flower', cursive;
}
input{
    font-family: 'Indie Flower', cursive;
}
