body{
    background-color: green;
    color:white;
}
#done label{

    text-decoration: line-through;
    color:rgba(26, 20, 20, 0.525);

}
#done input{
    margin-left: 3%;
}
h1,h2{
    text-align: center;
}

form{
    padding-left: 43%;
}
ul{
    list-style-type: none;
}
#search{
    margin-left: 43%;
    margin-top: 2%;
}
#save{
    margin-left: 12%;
}